.authHeader {
  height: 88px;
  border-bottom: 1px solid #e9eaf0;
}

.flexContainer {
  height: 100%;
}

.logoText {
  font-size: 32px;
  color: #1d2026;
  font-weight: 600;
}

.optionTitle {
  font-size: 14px;
}
